.page {
  background-color: #090D15;
  background-image: url(../images/background.jpg);
  background-position: top;
  background-repeat: no-repeat;
}


/* HEADER */

.header {
  width: 100%;
  background-color: #131521;
}

.header__wrapper {
  /* width: 1216px;*/
  width: 100%;
  min-height: 70px;
  max-width: 1216px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  background-image: url(../images/logo_bg.svg);
  width: 119px;
  height: 32px;
  background-size: contain;
  background-position: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu-link {
  color: #9398B2;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  margin: 0 36px 0 0;
  text-decoration: none;
}

.header__menu-link:hover {
  color: white;
}

.language-selector {
  background-color: #191D2D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  width: 102px;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
}

.language-selector:hover {
  outline: 1px green solid;
}

.language-selector__flag {
  width: 23px;
  height: 16px;
  background-size: contain;
  background-position: center;
}

.language-selector__flag_country_ru {
  background-image: url(../images/lang_RU.svg);
}

.language-selector__text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #9398B2;
  padding: 0;
  margin: 0;
}

.language-selector__arrow {
  width: 12px;
  height: 12px;
  background-position: center;
  background-size: contain;
}

.language-selector__arrow_direction_bottom {
  background-image: url(../images/arrow_bottom.svg);
}

.section__top-line {
  background-image: url(../images/footer_top_line.png);
  height: 1px;
  width: 100%;
  max-width: 1216px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

/* MAIN */

.main {
  width: 100%;
}


/* TOP-INFO */

.top-info {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto 15px;
  background-image: url(../images/top-info_bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 474px;
  padding-top: 140px;
  box-sizing: border-box;
}

.top-info__title {
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  max-width: 530px;
}

.top-info__button {
  background-color: #6E00DC;
  color: white;
  padding: 21px 32px;
  box-sizing: border-box;
  min-height: 60px;
  border-radius: 30px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-top: 32px;
  cursor: pointer;
}

.top-info__button_place_active {
  position: absolute;
  left: 72px;
  bottom: 65px;
}

.top-info__button-arrow {
  margin-left: 24px;
  font-weight: 900;
}

.benefits {
  width: 100%;
  padding-bottom: 89px;
}

.benefits__wrapper {
  max-width: 1568px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.benefits__background {
  width: 100%;
  height: 653px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  margin-top: -60px; /*Такое лучше не творить, но макет хочет, чтобы изображения были именно так*/
}

.benefits__background_side_left {
  background-image: url(../images/aside_bg_left.png);
  margin-right: -60px;
}

.benefits__background_side_right {
  background-image: url(../images/aside_bg_right.png);
  margin-left: -60px;
}

.benefits__text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  max-width: 402px;
  margin: 26px 0 0;
}

.benefits__line {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 159px;
}

.benefits__line_type_left {
  background-image: url(../images/benefits_left_line.png);
}

.benefits__line_type_right {
  background-image: url(../images/benefits_right_line.png);
}

.benefits__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;

}

.benefits__image_char_prophet {
  background-image: url(../images/death_prophet.png);
  width: 522px;
  height: 522px;
  z-index: 2;
  top: 48px;
  left: 365px;
}

.benefits__image_char_leshrac {
  background-image: url(../images/leshrac.png);
  width: 409px;
  height: 409px;
  z-index: 3;
  top: calc(134px + 48px);
}

.faq {
  width: 100%;
}

.faq__wrapper {
  max-width: 1216px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 104px;
  padding-top: 120px;
}

.faq__question {
  min-width: 488px;
}

.faq__question-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.faq__question-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 488px;
  min-height: 70px;
  padding: 26px 24px 25px;
  box-sizing: border-box;
  border-bottom: 1px solid #21242E;
  cursor: pointer;
  font-weight: 500;
}

.faq__question-row:hover {
  font-weight: 900;
  background-image: url(../images/question_active_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.faq__question-row_is-active {
  background-image: url(../images/question_active_bg.png);
}

/*.faq__question-row_is-active::before {
  content: " ";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background-image: linear-gradient(to right, #7B06F8 0%, #1DCB3A 100%);
  z-index: -1;
  border-radius: 10px;
}*/

.faq__title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 16px;
  line-height: 19px;
  margin: 0;
  max-width: 95%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.faq__title_is-active {
  font-weight: 900;
}

.faq__arrow {
  color: #393E4B;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.faq__arrow_is-active {
  color: white;
}

.faq__answer-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
}

.faq__answer-paragraph {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.faq__answer-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  margin: 11px 0 24px;
}

.faq__answer-paragraph {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 30px;
}

.action {
  position: relative;
  width: 100%;
  max-width: 1216px;
  min-height: 305px;
  margin: 0 auto;
  background-image: url(../images/active_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 70px;
}

.footer {
  width: 100%;
  min-height: 320px;
  background-color: #080C13;
  padding-bottom: 70px;
  box-sizing: border-box;
}

.footer__wrapper {
  max-width: 1216px;
  margin: 0 auto;
}


.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  box-sizing: border-box;
}

.footer__info {
  max-width: 280px;
  width: 100%;
}

.footer__copyright {
  color: #364e85;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.footer__copyright:first-of-type {
  margin-top: 25px;
}

.footer__copyright:last-of-type {
  margin-bottom: 70px;
}

.footer__social {
  background-image: url(../images/social.png);
  height: 24px;
  width: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 32px;
}

.footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 220px;
}

.footer__menu-link-container {
  margin-bottom: 24px;
}

.footer__menu-link-container:last-of-type {
  margin: 0;
}

.footer__menu-link {
  color: #9398B2;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
